/* Lato Black */ 
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black.woff2') format('woff2'),
         url('../fonts/lato-black.woff') format('woff'); 
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Black Italic*/ 
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-blackitalic.woff2') format('woff2'),
         url('../fonts/lato-blackitalic.woff') format('woff'); 
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff');
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Bold Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bolditalic.woff2') format('woff2'),
         url('../fonts/lato-bolditalic.woff') format('woff');
    font-style: italic;
    font-weight: 450;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Hairline */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-hairline.woff2') format('woff2'),
         url('../fonts/lato-hairline.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Hairline Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-hairlineitalic.woff2') format('woff2'),
         url('../fonts/lato-hairlineitalic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Heavy */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-heavy.woff2') format('woff2'),
         url('../fonts/lato-heavy.woff') format('woff');
    font-style: normal;
    font-weight: 350;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Heavy Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-heavyitalic.woff2') format('woff2'),
         url('../fonts/lato-heavyitalic.woff') format('woff');
    font-style: italic;
    font-weight: 350;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-italic.woff2') format('woff2'),
         url('../fonts/lato-italic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Light */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light.woff2') format('woff2'),
         url('../fonts/lato-light.woff') format('woff');
    font-style: normal;
    font-weight: 250;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Light Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-lightitalic.woff2') format('woff2'),
         url('../fonts/lato-lightitalic.woff') format('woff');
    font-style: italic;
    font-weight: 250;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Medium */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-medium.woff2') format('woff2'),
         url('../fonts/lato-medium.woff') format('woff');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Medium Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-mediumitalic.woff2') format('woff2'), 
         url('../fonts/lato-mediumitalic.woff') format('woff');
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Regular */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
    font-style: normal;
    font-weight: 150;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Semibold */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-semibold.woff2') format('woff2'),
         url('../fonts/lato-semibold.woff') format('woff');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Semibold Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-semibolditalic.woff2') format('woff2'),
         url('../fonts/lato-semibolditalic.woff') format('woff');
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Thin */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-thin.woff2') format('woff2'),
         url('../fonts/lato-thin.woff') format('woff');
    font-style: normal;
    font-weight: 0;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
/* Lato Thin Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-thinitalic.woff2') format('woff2'),
         url('../fonts/lato-thinitalic.woff') format('woff');
    font-style: italic;
    font-weight: 0;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
*{
    box-sizing: border-box;
}
body{
    color:#3C5049;
    font-size:16px;
    font-family: 'Lato','Arial','Helvetica',sans-serif;
    padding:0; 
    margin:0;
    font-weight: 150;
}
h1,h2,h3{
    color:#2A3833 ;
    font-size: 51px;
    font-family: 'Georgia', 'Times New Roman', 'Times', serif;
    padding:0; 
    margin:0;
    line-height: 66px;
    letter-spacing: -0.7px;
}
.page-header{
    width: 1024px;
    margin: 0 auto 60px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    margin: 5px 0 0 26px;
}
.main-nav{
    margin: 13px 0 0 40px;
}
.nav-list{
    width: 375px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.item-link{
    color: #388878;
    text-decoration: none;
}
.item-link:hover{
    text-decoration: underline;
}
.item-link:active{
    opacity: 0.7;
}
.main-greetings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto 200px auto;
    padding-bottom: 89px;
    position: relative;
}
.main-greetings::before{
    content: 'Pride';
    position: absolute;
    right: -175px;
    top: 450px;
    color: rgba(60, 80, 73, 0.10);
    font-family: 'Georgia', 'Times New Roman', 'Times', serif;
    font-size: 250px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0px;
}
.greetings-img{
    width: 455px;
    height: 455px;
    border-radius: 50% 50% 0 0;
    margin-top: -8px;
    z-index: 1;
    position: relative;
}
.greetings-wrap{
    position: relative;
    z-index: 1;
}
.greetings-wrap::before{
    position: absolute;
    content: ''; 
    display: block;
    width: 459px;
    height: 435px;
    background-color: #3C5049;
    top: 102px;
    left: -127px;
    z-index: 0;
}
.greetings-desc{
    margin-left: 64px;
    padding-top: 105px;
}
.greetings-notice{
    font-style: italic;
    font-weight: 650;
    letter-spacing: 3px;
}
.greetings-title{
    margin-top: 16px;
    margin-bottom: 16px;
}
.greetings-text{
    letter-spacing: 1.5px;
}
.main-coffee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 235px auto 200px auto;
    position: relative;
}
.main-coffee::after{
    content: '';
    position: absolute;
    width: 835px;
    height: 865px;
    flex-shrink: 0;
    border-radius: 865px;
    background: rgba(69, 102, 88, 0.24);
    filter: blur(200px);
    left: 350px;
    top: 80px;
    z-index: -1;
}
.main-coffee::before{
    content: 'Asian';
    position: absolute;
    right: 660px;
    top: 515px;
    color: rgba(60, 80, 73, 0.10);
    font-family: 'Georgia', 'Times New Roman', 'Times', serif;
    font-size: 180px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0px;
}
.coffee-desc{
    margin-right: 64px;
    margin-bottom: 50px;
    position: relative;
}
.coffee-title{
    margin-top: 35px;
    margin-bottom: 2px;
}
.coffee-text{
    margin-top: 16px;
    margin-bottom: 98px;
    letter-spacing: 1.5px;
}
.coffee-img{
    width: 455px;
    height: 543px; 
    border-radius: 0 0 45% 45%;
    margin-right: 8px;
}
.coffee-desc::after{
    content: '';
    display: block;
    width: 384px;
    height: 562px;
    border-radius: 0px 0px 400px 400px;
    border: 2px solid #C3A25D;
    position: absolute;
    right: -415px;
    top: -110px;
}
.coffee-link{
    padding: 15px 23px 15px 23px;
    text-decoration: none;
    background-color: #3C5049;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    top: -35px;
    left: 4px;
    letter-spacing: 1px;
}
.coffee-link:hover{
    background-color: #2a3833;
}
.coffee-link:active{
    opacity: 0.7;
}
.main-dishes{
    width: 1024px;
    margin: 240px auto 438px auto;
    position: relative;
    z-index: 1;
}
.main-dishes::before{
    content: '';
    position: absolute;
    width: 835px;
    height: 865px;
    flex-shrink: 0;
    border-radius: 865px;
    background: rgba(236, 180, 146, 0.31);
    filter: blur(200px);
    right: 400px;
    top: 600px;
    z-index: -1;
}
.main-dishes::after{
    position: absolute;
    content: ''; 
    display: block;
    width: 547px;
    height: 752px;
    background-color: #3C5049;
    top: -43px;
    left: 607px;
    z-index: -1;
}
.dishes-desc{
    display: flex;
    flex-direction: column;
    position: relative;
}
.dishes-title{
    width: 425px;
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 44px;
    text-align: right;
    line-height: 56px;
    color: #FFFFFF;
}
.dishes-text{
    width: 504px;
    letter-spacing: 1.5px;
    margin-top: 35px;
}
.dishes-link{
    width: 157px;
    margin-top: 9px;
    padding: 16px 33px 13px 32px;
    text-decoration: none;
    background-color: #3C5049;
    color: #FFFFFF;
    text-transform: uppercase;
}
.dishes-link:hover{
    background-color: #2a3833;
}
.dishes-link:active{
    opacity: 0.7;
}
.dishes-images{
    display: flex;
    justify-content: space-between;
}
.dishes-img{
    position: relative;
    width: 331px;
    height: 331px;
}
.dishes-img:nth-child(1){
    top: 49px;
}
.dishes-img:nth-child(2){
    top: 112px;
}
.dishes-img:nth-child(3){
    top: 172px;
}
.main-booking{
    display: flex;
    width: 1280px;
    margin: 0 auto 150px auto;
    padding-bottom: 89px;
}
.booking-img{
    width: 507px;
    height: 610px;
    position: relative;
    z-index: 5;
}
.booking-desc{
    margin-left: 55px;
    width: 591px;
    margin-top: 15px;
    position: relative;
}
.booking-desc{
    position: relative;
    z-index: 5;
}
.booking-desc::after{
    content: '';
    display: block;
    width: 301.539px;
    height: 502px;
    transform: rotate(-90deg);
    border-radius: 0px 0px 0px 315px;
    border: 2px solid #C3A25D;
    position: absolute;
    right: 720px;
    top: 225px;
}
.booking-title{
    margin-top: -16px;
    margin-bottom: 20px;
    line-height: 64px;
}
.booking-text{
    margin-bottom: 60px;
    letter-spacing: 1.5px;
}
.booking-link{
    width: 157px;
    padding: 14px 33px 15px 32px;
    text-decoration: none;
    background-color: #3C5049;
    color: #FFFFFF;
    text-transform: uppercase;
}
.booking-link:hover{
    background-color: #2a3833;
}
.booking-link:active{
    opacity: 0.7;
}
.page-footer{
    background-color: #456658;
    padding-top: 50px;
    padding-bottom: 74px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.footer-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 75px;
    font-size: 49px;
    letter-spacing: 0.5px;
}
.footer-quote{
    text-align: center;
    width: 331px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 47px 20px 56px 20px;
    margin-top: -3px;
    letter-spacing: 1px;
    position: relative;
}
.footer-quote::before, .footer-quote::after{
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    background-image: url('../img/quote.svg');
}
.footer-quote::before{
    top: 12px;
    left: 12px;
}
.footer-quote::after{
    right: 12px;
    bottom: 12px;
    transform: rotate(180deg);
}
.footer-text{
    margin-bottom: 15px;
}
.footer-author{
    font-style: italic;
}